<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cofre de Senhas</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body class="bg-light">

  {% if user %}
    <div class="username-display p-3 text-muted">
      <span>Bem vindo, {{ user }}!</span>
    </div>
  {% else %}
    <form action="/" method="POST" class="username-form">
      <div class="form-group mb-2">
        <label for="username" class="small">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Insira o usuário" required>
      </div>
      <button type="submit" class="btn btn-link p-0">Confirmar</button>
    </form>
  {% endif %}

  {% if passwordName %}
    <div class="alert alert-success text-center" role="alert">
      A senha para "<strong>{{ passwordName }}</strong>" foi registrada com sucesso!
    </div>
  {% endif %}

  {% if error %}
    <div class="error-message">
      {{ error }}
    </div>
  {% endif %}

  {% if key %}
    <div class="overlay" id="overlay">
      <div class="key-box">
        <p>Por favor, salve esta chave: {{ key }}</p>
        <button class="continue-btn" onclick="closeOverlay()">Continue</button>
      </div>
    </div>
  {% endif %}

  <div class="container mt-5">
    <header class="text-center mb-4">
      <h1 class="display-4">Cofre de Senhas</h1>
      <a href="/{{user}}/senhas" class="btn btn-primary mt-3">Ver Senhas</a>
    </header>

    <main>
      <div class="card p-4 shadow-sm">
        <form action="/{{ user }}" method="POST">
          <div class="form-group">
            <label for="name">Nome da Senha</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Ex: Youtube" required>
          </div>

          <button type="submit" class="btn btn-success btn-block">Gerar Senha!</button>
        </form>
      </div>
    </main>
  </div>

  
  <div class="text-center mb-4">
    <a href="/" class="btn btn-secondary">Voltar</a>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function closeOverlay() {
      document.getElementById('overlay').style.display = 'none';
    }
  </script>
</body>
</html>
