<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inserir Usuário</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/usario.css">
</head>
<body class="bg-light">

  <div class="username-container">
    <h3 class="text-center">Digite o nome do Usuário</h3>
    <form action="/" method="POST">
      <div class="form-group">
        <label for="username" class="small">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Digite o usario" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Confimar</button>
    </form>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
